<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.karunakar.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/insert</url-pattern>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
